footer h4{
  font-weight: 700;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li:hover{
text-decoration: underline;
}

footer li, footer i{
  cursor: pointer;
  line-height: 2rem;
}

footer i{
font-size: 1.5rem;
}

.copy{
  background-color: #e9e9e9;
}
