.list-group li {
  cursor: pointer;
}

.actived {
  background-color: #7460ee !important;
  color: white !important;
}

.sticky-top {
  top: 92px !important;
}

.sticky-top .list-group {
  border-bottom-left-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
}

.container-image {
  position: relative;
}

.container-image {
  position: relative;
  cursor: pointer;
  border-radius: 50%;
}

.container-image img {
  border-radius: 50%;
}

.container-image .button{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.container-image:hover::before {
  opacity: .3;
}

.container-image:hover .button {
  display: flex;
  justify-content: center;
  align-items: center;
}


.container-image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  border-radius: 50%;
  opacity: 0;
  // display: none;
}
