<div
  class="vh-100 vw-100 d-flex justify-content-center align-items-center bg-light"
>
  <div class="w-100 row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4 col-xl-3">
      <form
        [formGroup]="loginForm"
        class="card shadow rounded-3 p-4"
        (ngSubmit)="login()"
      >
        <!--Logo-->
        <h1 class="text-center mb-0">Inicio de sesión</h1>
        <hr />
        <!--user-->
        <div class="mb-3">
          <label for="user" class="form-label"
            >Usuario o correo electrónico</label
          >
          <input
            type="text"
            class="form-control"
            id="user"
            placeholder="ingrese su usuario o email"
            formControlName="username"
          />
          <small
            *ngIf="formStore.validInput(loginForm, 'username')"
            class="form-text text-danger"
            >Usuario o email requerido</small
          >
        </div>
        <!--password-->
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="ingrese su contraseña"
            formControlName="password"
          />
          <small
            *ngIf="formStore.validInput(loginForm,'password')"
            class="form-text text-danger"
            >La contraseña es requerida</small
          >
        </div>
        <!--btn submit-->
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
      </form>
    </div>
  </div>
</div>
