<!-- <pre>{{event | json}}</pre> -->
<!-- [linear]="false" -->
<mat-vertical-stepper
  linear
  #stepper
  (selectionChange)="validateChangeStepper($event)"
>
  <mat-step [stepControl]="eventForm">
    <ng-template matStepLabel>Descripción general del evento</ng-template>
    <general-data-form [_event]="event"></general-data-form>
    <div class="text-end">
      <button class="btn btn-primary" (click)="validateEventForm()">
        Siguiente
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="placeForm">
    <ng-template matStepLabel>Ubicación del evento</ng-template>
    <place-data-form [_event]="event"></place-data-form>
    <div class="text-end">
      <button matStepperPrevious class="btn btn-secondary me-2">Atras</button>
      <button class="btn btn-primary" (click)="validatePlaceForm()">
        Siguiente
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="localitiesForm">
    <ng-template matStepLabel>Esquema y localidades del evento</ng-template>
    <localities-data-form [_event]="event"></localities-data-form>
    <div class="text-end mt-2">
      <button matStepperPrevious class="btn btn-secondary me-2">Atras</button>
      <button class="btn btn-primary" type="submit" (click)="onSubmit()">
        <i class="bi bi-calendar2-plus"></i> Crear evento
      </button>
    </div>
  </mat-step>
</mat-vertical-stepper>

<!-- <pre>{{eventForm.get("artist")!.errors | json }}</pre> -->

<!-- <pre>placeForm: {{placeForm.value | json}}</pre> -->
<!-- <pre>placeForm: {{localitiesArray.value | json}}</pre> -->
