img {
  border-radius: 10px;
}

.bi-ticket-perforated-fill::before {
  vertical-align: -0.25em;
}

.card-pay {
  width: 20rem;
  margin: 0 auto;
  border-radius: 10px;
}

.tags {
  background-color: rgba(126, 89, 249, 0.028);
  padding: 1rem;
  border-radius: 10px;
}
