<div class="container my-3 mt-lg-4" *ngIf="event">
  <!-- seccion header -->
  <div class="row justify-content-center">
    <!-- columna imagen -->
    <div class="col-lg-8">
      <img [src]="imageURL" alt="Imagen evento" class="img-fluid" />
    </div>

    <!-- columna card comprar -->
    <div class="col-lg-4 py-4 py-lg-5">
      <div class="h-100 d-flex flex-column justify-content-between">
        <h1 class="fw-bold text-center">{{event.name}}</h1>
        <div class="card text-center shadow mt-3 mt-lg-0 card-pay">
          <div class="card-body">
            <div class="date">
              <h4 class="fw-semibold">Fecha</h4>
              <p>
                {{ startDateTime | date:'fullDate':'':'es-EC'|
                capitalizeFirstLetter}}
              </p>
            </div>
            <div class="hour">
              <h4 class="fw-semibold">Horario</h4>
              <p>{{ startDateTime | date:'shortTime'}}</p>
            </div>
            <div class="d-grid">
              <button mat-button color="primary" (click)="addToCalendar()">
                <i class="bi bi-calendar-plus"></i> Agregar al calendario
              </button>
              <button class="btn btn-primary mt-2">
                Comprar boletos <i class="bi bi-ticket-perforated-fill"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- seccion informacion -->
  <div class="row mt-lg-2">
    <!-- columna destacado, asistentes, tipo -->
    <div class="col-lg-8">
      <section class="tags">
        <div class="d-flex justify-content-between">
          <!-- perfil user -->
          <div class="d-flex justify-content-center align-items-center">
            <img
              [src]="userImageURL"
              alt="imagen de perfil del usuario"
              class="img-fluid"
              style="height: 1.2rem; width: 1.2rem;"
            />
            <span
              class="pointer enlace ms-1"
              [ngbPopover]="popContentUser"
              triggers="mouseenter"
              >{{ event.organizer }}</span
            >
          </div>
          <!-- tags -->
          <div>
            <span class="badge text-bg-info ms-2" *ngIf="event.outstanding"
              >Evento Destacado</span
            >
            <span class="badge text-bg-dark ms-2"
              >{{event.service.name | titlecase}}</span
            >
            <span
              class="badge text-bg-light ms-2 d-none d-md-inline-block"
              *ngIf="event.assistants > 0"
              >{{event.assistants}} personas asistiran a este evento</span
            >
          </div>
        </div>
      </section>
    </div>
    <div class="col-lg-4"></div>

    <!-- columna 1 -->
    <div class="col-lg-8 mt-2">
      <div class="info">
        <!-- descripcion -->
        <section class="description">
          <h3 class="fw-bold">Descripción</h3>
          <div>{{event.description}}</div>
        </section>

        <!-- artista principal -->
        <section class="artist mt-4" *ngIf="event.artist">
          <h3 class="fw-bold">Grupo o artista principal</h3>
          <div>{{event.artist}}</div>
        </section>

        <!-- fechas y horarios -->
        <section class="dates mt-4">
          <h3 class="fw-bold">Fechas y horarios</h3>
          <ul class="m-0">
            <li>
              Inicia el
              <span class="fw-semibold"
                >{{startDateTime | date:'fullDate':'':'es-EC' |
                capitalizeFirstLetter}}</span
              >
              a las
              <span class="fw-semibold"
                >{{startDateTime | date:'shortTime'}}</span
              >
            </li>
            <li>
              Finaliza el
              <span class="fw-semibold"
                >{{endDateTime | date:'fullDate':'':'es-EC' |
                capitalizeFirstLetter}}</span
              >
              a las
              <span class="fw-semibold"
                >{{endDateTime | date:'shortTime'}}</span
              >
            </li>
          </ul>
        </section>

        <!-- Localidades y precios -->
        <section class="localities mt-4">
          <h3 class="fw-bold">Localidades</h3>
          <table class="table bord">
            <thead>
              <tr>
                <th scope="col">Localidad</th>
                <th scope="col">Costo por boleto</th>
                <th scope="col">Caracteristica</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of localities">
                <td>{{item.locality.name}}</td>
                <td>{{item.price | currency}}</td>
                <td>
                  {{item.numeration?'Asientos enumerados':'Asientos no
                  enumerados'}}
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>

    <!-- columna 2 -->
    <div class="col-lg-4 mt-4">
      <!-- mapa ubicacion -->
      <section>
        <h3 class="fw-bold">Ubicación</h3>
        <div class="map position-relative">
          <map></map>
          <div class="map-overlay"></div>
        </div>
        <div class="d-grid mt-1">
          <button class="btn btn-outline-success" (click)="openMapFullscreen(map)"> ¿No sabes como llegar? <i class="bi bi-pin-map"></i> </button>
        </div>
      </section>

      <!-- Lugar y direccion -->
      <section class="place mt-4">
        <h3 class="fw-bold">Dirección</h3>
        <p class="m-0">
          {{event.place.direction.city.name | titlecase}} -
          {{event.place.direction.province.name | titlecase}}
        </p>
        <p class="m-0">
          <span
            class="enlace pointer"
            [ngbPopover]="popContentPlace"
            triggers="mouseenter"
          >
            {{event.place.name}}</span
          >, {{event.place.direction.reference}}
        </p>
      </section>
    </div>
  </div>
</div>

<ng-template #popContentUser>
  <div class="d-flex">
    <img
      [src]="userImageURL"
      alt="imagen de perfil del usuario"
      class="img-fluid"
      style="height: 2rem; width: 2rem;"
    />
    <div class="d-flex flex-column ms-2">
      <h6 class="m-0">
        {{event!.user.name |titlecase}} {{event!.user.surname |titlecase}}
      </h6>
      <span class="text-primary">{{ event!.organizer }}</span>
    </div>
  </div>
  <div class="d-grid">
    <button class="btn btn-outline-primary btn-sm mt-2">Ir el perfil</button>
  </div>
</ng-template>

<ng-template #popContentPlace>
  {{event!.place.direction.description}}
</ng-template>

<ng-template #map let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Ubicacion actual y guía para llegar el evento</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body p-2">
		<map [markRoute]="true"></map>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar mapa</button>
	</div>
</ng-template>

<!-- <pre>{{event | json}}</pre> -->
