<div class="row mb-3 justify-content-between">
  <div class="col-md-4">
    <input
      #iSearch
      type="search"
      placeholder="Buscar eventos..."
      class="form-control"
      (input)="searchEvents($event)"
    />
  </div>
  <div class="col-md-4 text-end mt-2 mt-md-0">
    <button class="btn btn-outline-info me-2" (click)="getAllEvent()">
      Actualizar Eventos <i class="bi bi-arrow-clockwise"></i>
    </button>
    <button class="btn btn-primary" [routerLink]="['./agregar']">
      Agregar nuevo evento
    </button>
  </div>
</div>

<hr />

<!-- Row -->
<div class="row">
  <!-- column -->
  <ng-container
    *ngIf="(loading$ | async) || (events$ | async)!.length > 0; else notData"
  >
    <ng-container *ngIf="loading$ | async; else contentData">
      <div *ngFor="let _ of skeletonCount" class="col-sm-6 col-md-4 col-lg-3">
        <ngx-skeleton-loader [theme]="{height: '280px'}"></ngx-skeleton-loader>
      </div>
    </ng-container>
  </ng-container>
</div>
<!-- Row -->

<ng-template #notData>
  <h5 class="ms-4" *ngIf="iSearch.value.length >= 3;else notDataEvents">
    No existen eventos disponibles con ese nombre
  </h5>
</ng-template>

<ng-template #notDataEvents>
  <h5 class="ms-4">No hay eventos agregados</h5>
</ng-template>

<ng-template #contentData>
  <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let event of events$ | async">
    <!-- Card -->
    <!------------- start Card title ---------------->
    <div class="card">
      <img
        class="card-img-top img-responsive"
        src="{{url}}/{{event.img}}"
        alt="imagen - {{event.name}}"
      />
      <div class="card-body">
        <h4 class="card-title">{{event.name}}</h4>
        <p class="card-text line-clamp-2">{{event.description}}</p>
        <a class="btn btn-primary" routerLink="./{{event.id}}">Ver evento</a>
      </div>
    </div>
    <!------------- end Card title ------------------>
    <!-- Card -->
  </div>
</ng-template>
