.container-locality {
  border: dashed rgb(223 223 223) 3px;
  border-radius: 5px;
  padding: 1rem;
}

.agg-locality {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 1rem;
}
