<h2 class="fw-bold text-center mb-3 mb-sm-4">Cambiar contraseña</h2>

<form [formGroup]="passwordForm">
  <!-- contrasena actual -->
  <div class="col-lg-6 mx-auto">
    <div class="mb-3 input-with-icon">
      <label for="showPassword">Ingresa tu contraseña actual</label>
      <input
        [type]="showPassword?'text':'password'"
        placeholder="**********"
        formControlName="oldPassword"
        class="form-control"
        id="showPassword"
      />
      <i
        class="bi bi-eye-fill"
        *ngIf="!showPassword && passwordForm.value.oldPassword?.length > 0"
        (click)="showPassword = !showPassword"
      ></i>
      <i
        class="bi bi-eye-slash-fill"
        *ngIf="showPassword && passwordForm.value.oldPassword?.length > 0"
        (click)="showPassword = !showPassword"
      ></i>
      <small
        *ngIf="passwordForm.get('oldPassword')?.invalid"
        class="form-text text-danger"
      >
        {{getMsgErrorPass}}
      </small>
    </div>
  </div>

  <div
    class="d-flex justify-content-center"
    *ngIf="validating && passwordForm.get('oldPassword')?.value.length > 0"
  >
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="" *ngIf="passwordForm.controls['oldPassword'].valid">
    <!-- nueva contrasena -->
    <div class="col-lg-6 mx-auto">
      <div class="mb-3 input-with-icon">
        <label for="showNewPassword">Ingresa tu nueva contraseña</label>
        <input
          [type]="showNewPassword?'text':'password'"
          placeholder="**********"
          formControlName="password"
          class="form-control"
          id="showNewPassword"
        />
        <i
          class="bi bi-eye-fill"
          *ngIf="!showNewPassword && passwordForm.value.password?.length > 0"
          (click)="showNewPassword = !showNewPassword"
        ></i>
        <i
          class="bi bi-eye-slash-fill"
          *ngIf="showNewPassword && passwordForm.value.password?.length > 0"
          (click)="showNewPassword = !showNewPassword"
        ></i>
        <small
          *ngIf="formStore.validInput(passwordForm, 'password')"
          class="form-text text-danger"
          [innerHTML]="formStore.getErrorPass(passwordForm)"
        ></small>
      </div>
    </div>

    <!-- confirma nueva contrasena -->
    <div class="col-lg-6 mx-auto">
      <div class="mb-3 input-with-icon">
        <label for="showNewPasswordRepeat">Confirma tu nueva contraseña</label>
        <input
          [type]="showNewPasswordRepeat?'text':'password'"
          placeholder="**********"
          formControlName="password2"
          class="form-control"
          id="showNewPasswordRepeat"
        />
        <i
          class="bi bi-eye-fill"
          *ngIf="!showNewPasswordRepeat && passwordForm.value.password2?.length > 0"
          (click)="showNewPasswordRepeat = !showNewPasswordRepeat"
        ></i>
        <i
          class="bi bi-eye-slash-fill"
          *ngIf="showNewPasswordRepeat && passwordForm.value.password2?.length > 0"
          (click)="showNewPasswordRepeat = !showNewPasswordRepeat"
        ></i>
        <small
          *ngIf="formStore.validInput(passwordForm, 'password2')"
          class="form-text text-danger"
          >{{formStore.getErrorPass2(passwordForm)}}</small
        >
      </div>
    </div>

    <!-- button submit -->
    <div class="text-center my-2">
      <button class="btn btn-primary" (click)="changePassword()">
        Actualizar contraseña
      </button>
    </div>
  </div>
</form>
