.card-custom {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 10px; /* Border radius de 10px */
  margin-bottom: 2rem;
}

img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
