<header class="main-header">
  <nav class="navbar fixed-top navbar-expand-md bg-light p-0">
    <div class="container-fluid align-items-lg-stretch">
      <!--logo-->
      <a class="navbar-brand" routerLink="/">
        <img
          src="/assets/logos/logoletrasblack200.png"
          alt="Logo Eventosec"
          class="img-fluid"
        />
      </a>

      <!--button responsive-->
      <button class="navbar-toggler" type="button" (click)=" showMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--items-->
      <div class="d-md-flex flex-grow-1 d-none">
        <!--list items-->
        <ul class="navbar-nav nav-items mx-auto py-2">
          <li class="nav-item px-2">
            <a
              class="nav-link position-relative"
              [routerLink]="['/']"
              routerLinkActive="router-link-active"
              [routerLinkActiveOptions]="{exact : true}"
              >Inicio</a
            >
          </li>
          <li class="nav-item px-2">
            <a
              class="nav-link position-relative"
              [routerLink]="['/eventos']"
              routerLinkActive="router-link-active"
              [routerLinkActiveOptions]="{exact : true}"
              >Eventos</a
            >
          </li>
          <li class="nav-item px-2">
            <a
              class="nav-link position-relative"
              [routerLink]="['/contactanos']"
              routerLinkActive="router-link-active"
              [routerLinkActiveOptions]="{exact : true}"
              >Contáctanos</a
            >
          </li>
        </ul>

        <!--buttons login-->
        <div class="py-2">
          <button
            class="btn btn-primary me-2"
            [routerLink]="['/login']"
            *ngIf="!authUser"
          >
            Iniciar sesión
          </button>
          <button
            class="btn btn-outline-primary"
            [routerLink]="['/registro']"
            *ngIf="!authUser"
          >
            Registrarse
          </button>
        </div>

        <!--menu desplegable-->

        <div class="container-name-profile py-2" *ngIf="authUser">
          <img
            class="img-fluid rounded-circle"
            type="button"
            [src]="getImgUser"
            alt="imagen perfil"
            style="width: 25px; height: 25px;"
          />
          <span class="mx-2">{{authUser.name}} {{authUser.surname}}</span>
          <i class="bi bi-caret-down-fill"></i>
          <div class="menus-collapse bg-secondary rounded-3">
            <ul class="navbar-nav flex-column text-white rounded-3">
              <li
                class="nav-item rounded-3 pointer px-3"
                (click)="navigateByUrl('/cuenta/mis-datos')"
              >
                <a class="nav-link">Mi cuenta</a>
              </li>
              <li
                class="nav-item rounded-3 pointer px-3"
                (click)="navigateByUrl('/cuenta/mis-compras')"
              >
                <a class="nav-link">Mis compras</a>
              </li>
              <li
                class="nav-item rounded-3 pointer px-3"
                (click)="navigateByUrl('/cuenta/cambiar-contrasenia')"
              >
                <a class="nav-link">Cambiar contraseña</a>
              </li>
              <li class="nav-item rounded-3 pointer px-3">
                <a class="nav-link" (click)="logout()">Cerrar sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
