<div>
  <div class="slides">
    <div class="slide h-100">
      <div class="content-slide">
        <div class="row justify-content-center justify-content-md-start">
          <div class="col-md-8 text-center text-md-start">
            <h1 class="fw-bold text-white">Tus eventos al alcanze de un click</h1>
            <button class="btn btn-lg btn-info">Ver eventos</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h1 class="text-center">Contenido</h1>
  </div>
</div>
