<!--header slides-->
<section class="slides">
  <div class="slide h-100">
    <div class="content-slide">
      <div class="row w-100 justify-content-center justify-content-md-start">
        <div class="col-md-8 text-center text-md-start">
          <h1 class="fw-bold text-white">Tus eventos al alcance de un click</h1>
          <button class="btn btn-lg btn-info" routerLink="/eventos">
            Ver eventos
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Cards-->
<section class="cards container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <i class="bi bi-stars"></i>
        <h2>Eventos y conciertos</h2>
        <p>
          Disfruta de una gran variedad de eventos y conciertos realizados en
          todo el país
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <i class="bi bi-ticket-perforated-fill"></i>
        <h2>Boletos</h2>
        <p>
          Adquiere tus boletos de una forma fácil, sin filas ni complicaciones
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <i class="bi bi-calendar2-check-fill"></i>
        <h2>Reservación</h2>
        <p>
          Reserva tus entradas y seleccionas tus asientos de preferencia
        </p>
      </div>
    </div>
  </div>
</section>

<!--Info-->
<section class="bg-light"></section>

<!--eventos destacados-->
<section class="featured-events container mt-5">
  <h2 class="fw-bold">Eventos destacados</h2>
  <app-card-features-upcoming
    [dataEvents]="featuredEvents"
  ></app-card-features-upcoming>
</section>

<!--Proximos eventos-->
<section class="upcoming-events container mt-4">
  <h2 class="fw-bold">Próximos eventos</h2>
  <app-card-features-upcoming
    [dataEvents]="upcomingEvents"
  ></app-card-features-upcoming>
</section>
