.slides {
  height: calc(100vh - 68px) !important;
}

.slide {
  position: relative;
  background-color: #eee;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  animation: image 8s infinite alternate;
  background-image: url('/assets/images/concert1.jpg');
  background-image: url('/assets/images/concert2.jpg');
}

@keyframes image {

  0%,
  45% {
    background-image: url('/assets/images/concert1.jpg');
  }

  55%,
  100% {
    background-image: url('/assets/images/concert2.jpg');
  }
}

.content-slide {
  position: absolute;
  bottom: 65px;
  left: 20px;
}

.content-slide h1 {
  font-size: 4rem;
  text-shadow: rgba(0, 0, 0, 0.548) 5px 5px 5px
}

.cards .card h2 {
  font-weight: 700;
}

.cards .card h2,
.cards .card p,
.cards .card i {
  text-align: center;
}

.cards .card i {
  font-size: 5rem;
  line-height: .3rem;
  margin-bottom: .5rem;
}
