/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800');

.pointer {
  cursor: pointer;
}

.enlace {
  color: #7460ee
}

.enlace:hover {
  text-decoration-line: underline;
}

.input-with-icon{
  position: relative;
}

.input-with-icon i {
  position: absolute;
  top: 32.5px;
  right: 1%;
  cursor: pointer;
}

.grecaptcha-badge {opacity:0}
