/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800');

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.pointer {
  cursor: pointer;
}

.enlace {
  color: #7460ee
}

.enlace:hover {
  text-decoration-line: underline;
}

.input-with-icon{
  position: relative;
}

.input-with-icon i {
  position: absolute;
  top: 32.5px;
  right: 1%;
  cursor: pointer;
}

.grecaptcha-badge {opacity:0}

.input-adm{
  background-color: white;
  border-width: 2px;
}
