<header class="container-grid">
  <div class="imageGrid1">
    <ngb-carousel
      #carousel
      [interval]="4000"
      [pauseOnHover]="false"
      [pauseOnFocus]="false"
      [showNavigationIndicators]="false"
    >
      <ng-template ngbSlide *ngFor="let image of mainImagesUrl; index as i">
        <!-- <div class="carousel-caption">
          <h3>My slide {{i + 1}} title</h3>
        </div> -->
        <div
          class="containImage"
          [style.backgroundImage]="'url(' + image + ')'"
        ></div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="imageGrid2">
    <img
      [src]="secondariesImagesUrl[1]"
      alt="imagen promo 2"
      class="img-fluid"
    />
  </div>
  <div class="imageGrid3">
    <img
      [src]="secondariesImagesUrl[0]"
      alt="imagen promo 3"
      class="img-fluid"
    />
  </div>
</header>

<main class="container my-4">
  <!-- search filter -->
  <section class="section-filter">
    <div class="row g-2 justify-content-between align-items-center">
      <div class="col-md-7">
        <div class="d-flex justify-content-center align-items-center">
          <input
            type="search"
            class="form-control input-adm"
            placeholder="Buscar eventos..."
            [formControl]="inputSearchControl"
            (keyup.enter)="searchEvents()"
          />
          <button
            class="btn btn-primary ms-2 text-nowrap"
            (click)="searchEvents()"
          >
            <i class="bi bi-search"></i
            ><span class="d-none m-0 d-sm-inline-block ms-sm-1"
              >Buscar eventos</span
            >
          </button>
          <button
            class="btn btn-danger ms-2 text-nowrap"
            *ngIf="eventsFiltered.length >= 1 || termNotFound"
            (click)="cleanFilters()"
          >
            <i class="bi bi-eraser-fill"></i
            ><span class="d-none m-0 d-sm-inline-block ms-sm-1"
              >Limpiar filtros</span
            >
          </button>
        </div>
      </div>
      <div class="col-md-5 col-lg-4 col-xl-3 d-flex align-items-center">
        <label class="me-2">Ubicación</label>
        <select class="form-select input-adm">
          <option value="0">No seleccionado</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <button
          class="btn btn-warning ms-2"
          placement="top"
          ngbTooltip="Todos los filtros"
          data-bs-toggle="offcanvas"
          href="#offcanvasExample"
        >
          <i class="bi bi-funnel-fill"></i>
        </button>
      </div>
    </div>

    <!--Fecha-->
    <!-- <div class="row g-2 justify-content-end align-items-center mt-1">
      <div class="col-md-5 col-lg-4 col-xl-3 d-flex align-items-center">
        <label for="start_date" class="text-nowrap me-2">Fecha</label>
        <input
          type="date"
          placeholder="Ingrese fecha de inicio del evento"
          formControlName="start_date"
          class="form-control input-adm"
          id="start_date"
        />
      </div>
    </div> -->
  </section>

  <!-- data events -->
  <section
    class="mt-3 section-events"
    *ngIf="eventsFiltered.length > 0 || events.length > 0"
  >
    <div class="row g-3">
      <ng-container *ngIf="eventsFiltered.length === 0 && !termNotFound">
        <div *ngFor="let event of events" class="col-sm-6 col-md-4 col-lg-3">
          <event-card [event]="event"></event-card>
        </div>
      </ng-container>

      <ng-container *ngIf="eventsFiltered.length === 0 && termNotFound">
        <div class="alert alert-info py-2">
          No hay eventos relacionados con la busqueda: "{{termNotFound}}"
        </div>
      </ng-container>

      <ng-container *ngIf="eventsFiltered.length >= 1">
        <div *ngFor="let event of eventsFiltered" class="col-md-3">
          <event-card [event]="event"></event-card>
        </div>
      </ng-container>
    </div>
  </section>

  <div
    class="d-flex justify-content-center mt-3"
    *ngIf="eventsFiltered.length === 0 && events.length === 0"
  >
    <h5 class="alert alert-info">
      Actualmente no contamos con eventos diponibles
      <i class="bi bi-emoji-frown"></i>
    </h5>
  </div>
</main>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
    </div>
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>
