<header class="container-grid">
  <div class="imageGrid1">
    <ngb-carousel
      #carousel
      [interval]="4000"
      [pauseOnHover]="false"
      [pauseOnFocus]="false"
      [showNavigationIndicators]="false"
    >
      <ng-template ngbSlide *ngFor="let image of mainImagesUrl; index as i">
        <!-- <div class="carousel-caption">
          <h3>My slide {{i + 1}} title</h3>
        </div> -->
        <div
          class="containImage"
          [style.backgroundImage]="'url(' + image + ')'"
        ></div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="imageGrid2">
    <img
      [src]="secondariesImagesUrl[1]"
      alt="imagen promo 2"
      class="img-fluid"
    />
  </div>
  <div class="imageGrid3">
    <img
      [src]="secondariesImagesUrl[0]"
      alt="imagen promo 3"
      class="img-fluid"
    />
  </div>
</header>

<!-- search filter -->
<!-- <section>
  <input type="search" />
</section> -->
